*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color:teal;
}
header{
    background-color: #24272e;;
    padding: 20px;
}
header >h1{
    text-align: center;
    color:white;
    font-family:  sans-serif;
}
.score-board{
    position: relative;
    margin: 20px auto;
    border: 3px solid white;
    border-radius: 4px;
    width: 300px;
    height: 100px;
    text-align: center;
    color:#24272e ;
    font-size: 32px;
    font-weight: bold;
    color: white;
    padding: 15px 20px;
    font-family: sans-serif;
}
.separator{
    position:absolute;
    left: 150px;
    top: 8px;
    background-color: white;
    width: 2px;
    height: 80px;
}

.badge{
    color: #24272e;
    font-size: 18px;
    font-family: sans-serif;
    width: 80px;
    height: 80px;
    border-radius: 4px;
}
#time-left{
    position:absolute;
    left: 60px;
    top: 30px;
}
#score{
    position:absolute;
    right: 60px;
    top: 30px;
}
#time-label{
    position:absolute;
    top:70px;
    left: 40px;
}
#score-label{
    position:absolute;
    top:70px;
    right: 30px;
}
#action-message{
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    font-family: sans-serif;
    color: #24272e;
}
.square{
    width: 180px;
    height: 180px;
    margin: 4px;
    border:4px solid white;
    border-radius: 5px;
}
.grid{
    margin:auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    width: 618px;
    height: 618px;
}
.mole{
    background-image: url('Img/mole.png');
    background-size: cover;
}